<div class="container">
  <h3>Form Test</h3>
  <form [formGroup]="formGroup">
    <div class="items">
      <input placeholder="Nome:" class="form-control" formControlName="name">
    </div>
    <div class="items">
      <input placeholder="E-mail:" class="form-control" formControlName="email">
    </div>
    <div class="items">
      <input placeholder="Número:" class="form-control" formControlName="number">
    </div>
    <div class="container-button">
      <div class="items-buttom">
        <button class="btn btn-danger pull-right" [class.color-button-invalid]="!formGroup?.valid"
          [class.color-button-valid]="formGroup?.valid" type="submit" (click)="subscribe()">Subscribe</button>
      </div>
      <div class="items-buttom">
        <button class="btn btn-danger pull-right"
          [ngClass]="{'color-button-valid': formGroup?.valid, 'color-button-invalid': !formGroup?.valid}" type="submit"
          (click)="subscribe()">Subscribe</button>
      </div>
    </div>
  </form>
</div>
