.color-button-valid {
    background: green;
    border-color: green;
}

.color-button-invalid {
    background: red;
    border-color: red;
}

.container {
    position: relative;
    top: 100px;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 6px solid #b8b8b8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.75);
    max-width: 250px;
}

.container .items {
    padding: 5px;
}

.container-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.container-button .items-buttom {
    padding: 5px;
}